<ng-menu></ng-menu>

<div class="container">
        <h2 class="section-node"> Welcome dear user </h2>
    <div class="row col-md-12 applicationcontent">
        <div class="row col-md-12">
            <div class="row col-md-3">
                <h2 class="section-title">My tv series.</h2>
            </div>
        </div>
        <br/>
        <div class="row col-md-12">
            <div class="row col-md-3">
                 <h2 class="section-title">My films.</h2>
            </div>
        </div>
    </div>
</div>

<ng-footer></ng-footer>