<div class="container signup">
    <div class="row col-md-12">
        <form class="form-horizontal form">
            <fieldset>

                <h2 class="subtitle">New user</h2>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Username</label>  
                <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="Insert your username">
                    
                </div>
                </div>

                <!-- Password input-->
                <div class="form-group login-form">
                <label class="col-md-4 control-label" for="passwordinput">Password</label>
                <div class="col-md-4">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="Insert your password">
                    
                </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>  
                <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="Insert yout email">
                    
                </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                <label class="col-md-4 control-label" for="button"></label>
                <div class="col-md-4">
                    <button type="button" id="button" name="button">SAVE</button>
                </div>
                </div>
                <p class="message"><a href="#" [routerLink]="['/home']" > Go back </a></p>
            </fieldset>
        </form>
    </div>
</div>